//
// Blog
// --------------------------------------------------

// Scaffold
.blog-main {
	text-align: left;
  @include media(min-width $screen-md){
    @include rem(padding, 20px);
  }
  @include media(max-width $screen-md){
      @include rem(padding, 50px 20px 0px);
  }
}

.blog-loop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 4em 0;
  &__post {
    flex: 0 0 calc(100% / 3);
    margin: 0 0 2em;
    padding: 0 1em;
    @include media(max-width $screen-lg) {
      flex: 0 0 50%;
    }
    @include media(max-width $screen-mobile) {
      flex: 0 0 100%;
    }
    &-image {
      float: left;
      img {
        margin: 0;
        width: 100%;
        height: 280px;
        object-fit: cover;
        height: 24vw;
        max-height: 240px;
        min-height: 180px;
      }
    }
    &-content {
      float: left;
      width: 100%;
      padding: 1em 1em 0;
      background: $light-gray;
      h2 {
        font-family: $font-family;
        text-transform: none;
        font-weight: bold;
        @include rem(font-size, 24px);
        color: $brand-black;
        padding: 0;
        margin: 0 0 .25em;
      }
      p {
        @include rem(font-size, 16px);
        line-height: 1.4em;
        //height: 2.8em;
        overflow: hidden;
      }
    }
  }
}



.blog-single {
  max-width: 862px;
  width: 100%;
  margin: 0 auto;
  .double-header {
    border: none;
    h2 {
      border: none;
      border-bottom: 1px solid $brand-black;
      width: 92%;
      color: $brand-black;
    }
  }
  .blog-loop {
    &__post-image {
      float: none;
      margin: 2em auto;
      img {
        width: 100%;
        max-height: 320px;
        height: 32vw;
      }
    }
    &__post-content {
      background: transparent;
      padding: 2em 1em;
    }
  }
  .blog-social {
    margin: 4em auto;
  }

}






// Images
.wp-post-image{
  @include rem(margin, 10px 0px 20px);
  display: block;
  max-width: 100%;
  height: auto;
}

.blog-content img{
  max-width: 100%;
  height: auto;
}

.aligncenter{
  display: block;
  @include rem(margin, 20px auto);
}

.alignleft,
.alignnone{
  float: left;
  @include rem(margin, 10px 20px 20px 0px);
}

.align-right{
  float: right;
  @include rem(margin, 20px 20px 20px 0px);
}


// Sidebar

.widget{
	@include rem(padding-bottom, 30px);
}

h2.widget-title{
	text-transform: uppercase;
	@include rem(font-size, 12px);
	@include rem(letter-spacing, 2px);
}

.widget ul{
	margin: 0px;
	padding: 0px;
}

.widget ul li{
	margin: 0px;
	@include rem(padding-bottom, 10px);
  list-style: none;
}

.widget ul li a{
  @include rem(font-size, 14px);
}


// Archives
h2.archive-title{
	text-transform: uppercase;
	@include rem(font-size, 14px);
	@include rem(letter-spacing, 2px);
}



// Sharing

//
// Sharing
// --------------------------------------------------

.post-single__sharing{
  @include transition(all .15s linear);
  position: fixed;
  @include media(min-width $screen-mobile){
    @include rem(left, -60px);
    @include rem(top, 100px);
  }
  @include media(max-width $screen-mobile){
    left: 0px;
    @include rem(bottom, -60px);
    width: 100%;
  }
}

.sticky-wrapper{
  position: fixed;
  z-index: 9;
}
.post-single__sharing.stuck{
  left: 0px;
  @include media(max-width $screen-mobile){
    bottom: 0px;
    top: auto;
  }
}

.entry-share{
	@include rem(padding-top, 5px);
}

ul.entry-share-btns{
  padding: 0px;
  margin: 0px;
}

li.entry-share-btn {
  list-style: none;
  display: inline-block;
  @include rem(margin-right, 3px);
}

li.entry-share-btn a{
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  //@include rem(padding, 8px);
  border-radius: 50%;
  border: none;
  color: #fff;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  height: 30px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  user-select: none;
  width: 30px;
}

.entry-share-btn-twitter a{
  background-color: #00aced;
}

.entry-share-btn-facebook a{
  background-color: #3b5998;
}

.entry-share-btn-google-plus a{
  background-color: #dd4b39;
}

.entry-share-btn-linkedin a{
  background-color: #007bb6;
}

.entry-share-btns a:hover,
.entry-share-btns a:focus {
  text-decoration: none;
  color: #fff;
  background: #555;
}

.entry-share-btns svg {
  width: 13px;
  height: 13px;
  vertical-align: top;
}

.entry-share-btns span {
  display: none;
}

.entry-share-btns svg path,
.entry-share-btns svg polygon{
  fill: #ffffff;
}
