//
// Home
// --------------------------------------------------
.page-template-template-home main {
  font-family: $special-font-family;
  font-size: 18px;
}

// Hero
.home-hero{
  //@include rem(margin-bottom, 300px);
  background-image: url('./assets/img-dist/bg-home-hero.jpg');
  background-position: center;
  background-size: cover;
  @include media(min-width $screen-md) {
    height: 80vh;
  }
  @include media(max-width $screen-md) {
  }
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top:0;left:0;bottom:0;right:0;
    background: rgba(1,1,1,.4);
    display: none;
  }

  .home-hero__content{
    position: relative;
    z-index: 2;
    text-align:left;
    @include media(min-width $screen-md) {
      @include rem(padding, 160px 180px);
    }
    @include media(max-width $screen-md) {
      @include rem(padding, 140px 40px);
    }
    @include media(max-width $screen-mobile) {
      @include rem(padding, 140px 20px);
    }
    h1{
      font-family: $special-font-family;
      @include rem(margin, 10px 0px 50px);
      font-weight: bold;
      line-height: 1.2;
      @include rem(font-size, 60px);
      p {
        @extend h1;
        font-weight: normal;
      }
      small {
        @include rem(font-size, 67%);
      }
      @include media(max-width $screen-md) {
        @include rem(font-size, 30px);
      }
      color: white;
    }
  }

}
.home-hero__blurb {
  display: block;
  position: relative;
  width: 70%;
  max-width: 989px;
  min-width: 320px;
  padding: 2em 4%;
  margin: -2em auto 2em;
  background: $light-gray;
  text-align: center;
  box-shadow: $box-shadow;
  p {
    color: $black;
    line-height: 2;
    @media (max-width: $screen-md) {
      text-align: left;
      @include rem(font-size,14px);
    }
  }
}


// Highlights
.home-highlights {
  padding: 4em 4%;
  overflow:hidden;
  h3 {
    height: 2em;
    line-height: 1em;
    @include rem(font-size, 28px);
    color: $brand-blue;
    text-transform: uppercase;
  }
  p {
    color: $black;
    line-height: 2;
    @include rem(font-size,18px);
  }
  @media (max-width: $screen-md) {
    .u-col-four {
      margin-bottom: 1em;
      h3 {
        height: auto;
        @include rem(font-size,22px);
      }
      p {
        @include rem(font-size, 14px);
      }
    }
  }
}


// Graphic Pane
.home-graphic_pane {
  padding: 4em 4%;
  .u-container {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 20px 20px rgba(57,57,57,.2);
    .pane {
      flex: 0 0 (100% / 3);
      min-height: 700px;
      padding-bottom: 1em;
      .img {
        display: block;
        width: 100%;
        height: 50%;
        background-size: 100% auto;
        background-position: 50% 0%;
        background-repeat: no-repeat;
      }
      .content {
        display: block;
        padding: 1em 8%;
        color: $black;
        .title {
          color: $black;
          @include rem(font-size,32px);
          font-weight: bold;
          line-height: 1em;
          height: 2em;
          margin-bottom: .5rem;
          font-family: $special-font-family;
        }
        .description {
          line-height: 1.6;
        }
      }
			@media (max-width: $screen-xl) {
        flex: 0 0 50%;
        box-shadow: 10px 20px 20px rgba(57,57,57,.2);
        min-width: 320px;
        max-width: 480px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .content {
          order: 1;
          .title {
            height: auto;
            margin-bottom: .5em;
          }
          .description {
            @include rem(font-size, 16px);
          }
        }
        .img {
          order: 2;
          background-size: contain;
					height: 50%;
        }
      }
      @media (max-width: $screen-lg) {
        flex: 0 0 100%;
        .img {
          background-size: contain;
          margin: 4% 0;
          height: 56%
        }
      }
      @media (min-width: $screen-xl) {
        &:first-of-type {
          flex: 0 0 100%;
          display: flex;
          align-items: center;
          min-height: 560px;
          .img {
            order: 2;
            width: 42%;
            margin: 0 8% 0 0;
            background-size: contain;
            height: 80%;
          }
          .content {
            order: 1;
            width: 50%;
            .title {
              height: auto;
            }
          }
        }
      }
    } //.pane
    @media (max-width: $screen-lg) {
      overflow: scroll hidden;
      flex-wrap: nowrap;
    }
  } //.u-container
} //.home-graphic_pane


// Homes / Models
.home-models {
  padding: 4em 4%;
  .u-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    .home {
      display: flex;
      max-width: 1293px;
			width: 100%;
      box-shadow: 10px 20px 20px rgba(57,57,57,.2);
      min-height: 226px;
      margin: 0 auto 40px;
      align-items: center;
      .mobile_title {
        display: none;
      }
      .img {
        flex: 0 0 273px;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
      }
      .content {
        padding: .5em 4%;
        .title {
          font-family: $special-font-family;
          color: $brand-gray;
          text-transform: uppercase;
          margin-bottom: .5em;
        }
        .description p {
          @include rem(font-size,14px);
          color: $brand-gray;
          line-height: 1.4;
        }
      }
      .spec {
        flex: 0 0 353px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .features {
          display:flex;
          flex: 1;
          align-items: center;
          .feature {
            flex: 1;
            text-align: center;
            img {
              width: 60px;
              height: auto;
            }
            span {
              display: block;
              @include rem(font-size,18px);
              font-family: $headings-font-family;
              color: $brand-gray;
              text-transform: uppercase;
            }
          }
        }
        .link {
          align-self: flex-end;
          width: 100%;
          background: $brand-green;
          color: white;
          text-transform: uppercase;
          text-align: center;
          display: block;
          font-family: $headings-font-family;
          padding: .5em 0;
          box-shadow: -2px 4px 4px rgba(0,0,0,.25);
          transition: background .25s;
          &:hover {
            background: $brand-blue;
          }
        }
      }
    } //.home
    @media (max-width: $screen-xl) {
      flex-wrap: nowrap;
      overflow-x: scroll;
      padding-right: 2em;
      .home {
        flex-direction: column;
        max-width: 100%;
        min-width: 320px;
        margin-right: 4%;
        .mobile_title {
          display: block;
          width: 100%;
          background: $light-gray;
          color: $brand-gray;
          text-transform: uppercase;;
          padding: .5em 1em;
          margin: 0;
          text-align: left;
          font-family: $special-font-family;
          @include rem(font-size, 20px);
        }
        .img {
          flex: 0 0 200px;
          width: 100%;
        }
        .content {
          flex: 0 0 auto;
          .title {
            display: none;
          }
        }
        .spec {
          flex: 0 0 auto;
          display: block;
          width: 100%;
          height: auto;
          margin-top: auto;
          .link {
            margin: 1em 2em 2em;
            width: auto;
          }
        }
      }
    }
  } //.u-container
} //.home-models

// Details Accordion
.home-details {
  padding: 2em 4%;
}

.details_accordion {
  .header {
    text-align: center;
    color: $brand-gray;
    text-transform: uppercase;
  }
  .detail {
    display: block;
    margin: 0 auto 60px;
    padding: 0;
    max-width: 1293px;
    .intro {
      width: 100%;
      box-shadow: 10px 10px 20px rgba(57,57,57,.2);
      margin: 0 auto;
      padding: 2em 120px 2em 4%;
      overflow: hidden;
      z-index:2;
      position: relative;
      background: white;
      img {
        float: left;
        height: auto;
        min-height: 1em;
        width: 92px;
        margin: 0 5% 0 0;
      }
      h3 {
        float: right;
        width: calc(100% - 5% - 92px);
        font-family: $special-font-family;
        color: $black;
        font-weight: bold;
        margin-bottom: .5em;
      }
      .description {
        float: right;
        width: calc(100% - 5% - 92px);
      }
      &:after {
        content: '\203A';
        display: block;
        position: absolute;
        top: calc(50% - 16px);
        right: 4%;
        transform: rotate(-90deg);
        transition: transform 1s;
        height: 32px;
        width: 32px;
        background: $brand-blue;
        color: #FFF;
        border-radius: 50%;
        text-align: center;
        line-height: 25px;
        font-size: 36px;
        font-weight: bold;
      }
      @media (max-width: $screen-md) {
        padding: 1em 8% 60px;
        img {
          width: 47px;
          margin-bottom: .5em;
        }
        h3 {
          width: calc( 100% - 5% - 47px );
          font-weight: normal;
          margin: .25em 0 .5em;
          @include rem(font-size,16px);
        }
        .description {
          width: 100%;
          @include rem(font-size,12px);
          line-height: 1.6em;
        }
        &:after {
          top: auto;
          bottom: 16px;
          right: 0;
          left: 0;
          margin: 0 auto;
          height: 24px;
          width: 24px;
          font-size: 28px;
          line-height: 18px;
        }
      }
    }
    .more {
      width: auto;
      margin: 0 8%;
      background: rgba(237, 237, 237, 0.75);
      padding: 0 40px;
      position: relative;
      max-height: 2000px;
      transition: all 1s cubic-bezier(1,0,1,0);
      overflow: hidden;
      .sub_detail {
        display: block;
        background: rgba(255, 255, 255, 0.5);
        padding: 1em 2em;
        margin: 0 0 2em;
        &:first-child {
          margin-top: 40px;
        }
        &:last-child {
          margin-bottom: 40px;
        }
        .sub_title {
          font-family: $special-font-family;
          font-weight: bold;
          padding: 0 0 .25em;
        }
      }
      @media (max-width: $screen-md) {
        margin: 0 2%;
        padding: 0 20px;
        .sub_detail {
          @include rem(font-size, 14px);;
          &:first-child {
            margin-top: 20px;
          }
          &:last-child {
            margin-bottom: 20px;
          }
        }
      }
    }
    &.closed {
      .intro {
        &:after {
          transform: rotate(90deg);
        }
      }
      .more {
        max-height: 0;
        transition: all 1s cubic-bezier(0,1,0,1);
      }
    }
  }
}









// Animation
.icon{
  height: 480px;
  width: 470px;
  visibility: hidden;
}

.animate.icon{
  visibility: visible;
}

/** Phase #1 */
@keyframes phase-1__house {
  0%   {transform: translate(-20px); opacity: 0;}
  50%   {opacity: 0;}
  100% {transform: translate(0px);  opacity: 1;}
}

.animate .phase-1__house{
  animation: phase-1__house 1s;
}

@keyframes phase-1__tooltip {
  0%   {transform: translateY(-15px); opacity: 0;}
  100% {transform: translate(0px);  opacity: 1;}
}

.animate .phase-1__tooltip{
  opacity: 0;
  animation: phase-1__tooltip .5s ease-in-out 1s;
  animation-fill-mode:forwards;
}

@keyframes phase-1__house-highlights {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.animate .phase-1__house-highlights{
  opacity: 0;
  animation: phase-1__house-highlights 1s ease-in 2s;
  animation-fill-mode:forwards;
}

/** Phase #2 */
@keyframes phase-2__house {
  0%   {transform: translate(20px, -10px); opacity: 0;}
  100% {transform: translate(0px); transform: translateX(0px); opacity: 1;}
}

.animate .phase-2__house{
  opacity: 0;
  animation: phase-2__house .5s ease-in-out 2s;
  animation-fill-mode:forwards;
}

@keyframes phase-2__tooltip {
  0%   {transform: translateX(15px); opacity: 0;}
  100% {transform: translateX(0px);  opacity: 1;}
}

.animate .phase-2__tooltip{
  opacity: 0;
  animation: phase-2__tooltip .5s ease-in-out 3s;
  animation-fill-mode:forwards;
}

@keyframes phase-2__house-highlights {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.animate .phase-2__house-highlights{
  opacity: 0;
  animation: phase-2__house-highlights 1s ease-in-out 3s;
  animation-fill-mode:forwards;
}


/** Phase 3 */
@keyframes phase-3__house {
  0%   {transform: translateY(-20px); opacity: 0;}
  100% {transform: translate(0px); transform: translateX(0px); opacity: 1;}
}

.animate .phase-3__house{
  opacity: 0;
  animation: phase-3__house .5s ease-in-out 4s;
  animation-fill-mode:forwards;
}

@keyframes phase-3__tooltip {
  0%   {transform: translateY(-15px); opacity: 0;}
  100% {transform: translateY(0px);  opacity: 1;}
}

.animate .phase-3__tooltip{
  opacity: 0;
  animation: phase-3__tooltip .5s ease-in-out 5s;
  animation-fill-mode:forwards;
}

@keyframes phase-3__house-highlights {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.animate .phase-3__house-highlights{
  opacity: 0;
  animation: phase-3__house-highlights 1s ease-in-out 5s;
  animation-fill-mode:forwards;
}

// Process (new for Toby)
.home-process{
  @include rem(padding, 80px 0px 100px);
}

.home-process__subheadline{
  @include rem(font-size, 24px);
  @include rem(margin, 0 auto 20px);
  max-width: 900px;
}

.home-process__container{
  @include rem(padding-top, 60px);
}

.home-process__step{
  @include rem(padding, 0px 50px);
}

.home-process__number{
  @include rem(font-size, 30px);
  @include rem(height, 45px);
  @include rem(margin-bottom, 20px);
  @include rem(width, 45px);
  align-items: center;
  color: #fff;
  display: flex;
  font-family: $headings-font-family;
  justify-content: center;
  background-color: #143753;
  border-radius: 50%;
}

.home-process__copy{
  @include rem(font-size, 20px);
  line-height: 1.2;
}

.home-process__image{
  max-width: 100px;
}
// /Toby
