//
// Model Pages
// --------------------------------------------------

// Hero
.model-header{
  display: flex;
  flex-direction: column;
  @include rem(padding, 90px 20px 0px);
  @media(max-width: $screen-md) {
    padding-top: 0;
  }
  p.model-header__copy {
    @include rem(font-size, 26px);
    @include rem(margin, 0px 0px 10px);
    @media(max-width: $screen-md) {
      order: 2;
    }
  }
  h1.model-header__title{
    @include rem(font-size, 64px);
    margin: 0px 0px 5px;
    @media (max-width: $screen-md) {
       @include rem(font-size, 32px);
    }
  }
  .model-header__hero-image{
    @media(max-width: $screen-md) {
      order: 1;
      margin-bottom: -2em;
    }
  }

}

// Intro
.model-intro{
  font-family: $special-font-family;
  color: $text-gray;
  padding: 4em 4% 8em;
  //border-top: 2px solid $light-gray;
  @include media(max-width $screen-md) {
    padding: 1em 4% 4em;
  }
}

.model-intro p{
  @include rem(font-size, 28px);
  color: $text-gray;
  @media(max-width: $screen-md) {
    @include rem('font-size',14px);
    line-height: 2em;
    text-align: left;
  }
}

// Feature Set
.model-features{
  padding: 12px 12px;
  margin-bottom: 8em;
  max-width: 877px;
  background: white;

  .model-feature{
    border: 1px solid $border-gray;
    border-top: 5px solid $brand-blue;
    @include rem(padding, 20px 30px 30px);

    .model-feature__icon{
      @include rem(height, 160px);
      @include rem(width, 160px);
    }

    .model-feature__number{
      @include rem(font-size, 36px);
      font-family: $headings-font-family;
      line-height: 1;
      margin: 0px;
    }

    .model-feature__text{
      @include rem(font-size, 24px);
    }

  }

  @media (max-width: $screen-md) {
    display: flex;
    margin-bottom: 4em;
    background: transparent;
    .model-feature {
      flex: 1;
      border: none;
      margin: 0;
      padding: 0;
      .model-feature__icon {
        max-width: 48px;
        height: auto;
      }
      .model-feature__number,
      .model-feature__text {
        @include rem('font-size',18px);
        color: $brand-gray;
        font-family: $headings-font-family;
        display: inline-block;
      }
    }
  }

}


// Floorplans
.floorplan-header {
  margin-left: 4%;
  margin-right: 4%;
}

.model-floorplan{
  padding: 4em 4% 0;
  background-color: #E9F4FE;
  margin-bottom: 8em;

  .model-floorplan__floors{
    position: relative;

    .model-floorplan__header {
      @include media(min-width $screen-md) {
        display: flex;
      }
      justify-content: center;
      text-align: center;

      .model-floorplan__nav-button{
        @include media(min-width $screen-md) {
          color: $brand-black;
          text-align: left;
          margin: 0 2em 2em;
          border-bottom: 4px solid rgba(0,0,0,0);
          small {
            display: block;
          }
          &:hover {
            border-color: $border-gray;
          }
          &.active {
            border-color: $brand-blue;
          }
        }
        @include media(max-width $screen-md) {
          margin: 0 .5em .5em;
          border: 4px solid $brand-blue;
          color: $brand-blue;
          display: inline-block;
          text-align: left;
          @include rem('font-size',16px);
          small {
            float: right;
            text-align: right;
            line-height: 1.6em;
            padding-left: 1em;
            @include rem('font-size',14px);
          }
          &:hover {
            background: $brand-gray;
            color: white;
          }
          &.active {
            background: $brand-blue;
            color: white;
          }
        }
      }
    }

    .model-floorplan__interior {
      display: flex;
      overflow-x: auto;
      margin-bottom: 2em;
      .interior_image {
        min-width: 320px;
        width: 60%;
        max-width: 640px;
        flex: 0 0 auto;
        height: auto;
        margin: 0 2%;
        .model-floorplan__floor-img{
          @include rem(padding-top, 20px);
        }
        .model-floorplan__label {
          text-align: center;
          font-family: $special-font-family;
          font-weight: bold;
          padding-top: 1em;
        }
      }
    }

  }
}






// Model CTA
.model-demo-cta{
    background-color: $brand-yellow;
    @include rem(padding, 40px 20px 50px);
}

.model-demo-cta .u-container{
    @include media(min-width $screen-md){
        display: flex;
        align-items: center;
    }
}

.model-demo-cta__headline{
    @include rem(font-size, 36px);
    @include rem(margin-bottom, 5px);
}

.model-demo-cta__copy{
    @include media(min-width $screen-md){
        margin-bottom: 0px;
    }
}

.model-demo-cta__button{
    @include media(min-width $screen-md){
        margin-left: auto;
    }
}

.model-demo-cta__button .btn{
	@include rem(padding, 10px 45px);
}





// PRICE TIERS
.model-options {
  padding: 0 4%;
}
.price-tiers {
  @extend .centered-container;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em auto;
  @media (max-width: $screen-xl) {
    overflow-x: scroll;
  }
  .tier {
    flex: 0 0 calc(100% / 3 - 4%);
    box-shadow: $box-shadow;
    background: white;
    min-width: 310px;
    margin: 0 2% 2em;
    padding-bottom: 1em;
    .title {
      @extend .title-bar;
    }
    .price {
      @include rem('font-size',40px);
      @extend h3;
      text-align: center;
      small {
        font-family: $special-font-family;
        @include rem('font-size',20px);
        display: block;
        text-transform: lowercase;
      }
    }
    .feature {
      padding: 1em 2em;
      .name {
        text-transform: uppercase;
        border-bottom: 1px solid $light-gray;
        padding-bottom: 8px;
        margin-bottom: .5em;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          padding-left: 32px;
          margin-bottom: 1em;
          position: relative;
          &:before {
            content: '';
            @extend .checkmark;
            position: absolute;
            left: 0;
            top: calc(50% - 12px);
          }
          .content {
            font-family: $special-font-family;
            small {
              display: block;
              @include rem('font-size',12px);
              color: $brand-gray;
            }
          }
        }
      }
    }
  }
}

.disclaimer {
  @extend .centered-container;
  font-family: $special-font-family;
  @include rem('font-size',20px);
  color: $brand-gray;
  padding: 0em 8% 4em;
  @media (max-width: $screen-md) {
    @include rem('font-size',12px);
  }
}

.site-cost {
  @extend .centered-container;
  box-shadow: $box-shadow;
  margin-bottom: 8em;
  .title {
    @extend .title-bar;
    background: $border-gray;
    font-family: $special-font-family;
    text-transform: none;
    padding: .5em;
    @include rem('font-size',30px);
    @media (max-width: $screen-md) {
      @include rem('font-size',16px);
    }
  }
  .costs {
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 4% 1em;
    .cost {
      padding: 2em 1em 2em;
      flex: 0 0 auto;
      @media (max-width: $screen-md) {
        padding: 1em .25em 1em;
      }
      .name {
        text-transform: uppercase;
        @include rem('font-size',28px);
        color: $brand-gray;
        margin: 0 0 .25em;
        @media (max-width: $screen-md) {
          @include rem('font-size',12px);
        }
      }
      strong {
        font-family: $special-font-family;
        @include rem('font-size',28px);
        color: $brand-gray;
        @media (max-width: $screen-md) {
          @include rem('font-size',16px);
        }
      }
      &:last-of-type {
        strong {
          @include rem('font-size',36px);
          padding: 0 1em;
          @media (max-width: $screen-md) {
            @include rem('font-size',20px);
          }
        }
      }
    }
    .math {
      font-weight: bold;
      font-family: $special-font-family;
      @include rem('font-size',32px);
      color: $brand-gray;
      @media (max-width: $screen-md) {
        @include rem('font-size',20px);
      }
    }
  }
}











// Other Models
.model-other-models{
  @include rem(padding, 80px 20px 90px);
  h2.model-other-models__headline{
    @include rem(font-size, 48px);
    @include rem(margin, 0px 0px 60px);
    text-transform: uppercase;
  }
  .model-other-model:first-child{
    @include media(max-width $screen-md){
      @include rem(margin-bottom, 80px);
    }
  }
  .model-other-model__headline{
    @include rem(font-size, 36px);
    @include rem(margin, 20px 0px 15px);
    text-transform: uppercase;
  }
  @media (max-width: $screen-lg) {
    display: none;
  }
}
