
//
// Ready to Get Started?
// ------------------------------------------------

.ready_to_get_started {
  margin: 0 4%;
  .content {
    background: $light-gray;
    display: flex;
    margin: 0 auto 8em;
    padding: 1em 0 0;
    max-width: 1293px;
    .col {
      display: flex;
      flex-direction: column;
      flex: 0 0 calc(100% / 3);
      padding: 1em 2em 2em;
      text-align: center;
      & + .col {
        border-left: 1px solid $border-gray;
      }
      .title {
        font-family: $special-font-family;
        color: $brand-gray;
        font-weight: bold;
				min-height: 52px;
      }
      //.subtitle {
      //  font-family: $special-font-family;
      //  color: $text-gray;
      //  border-bottom: 1px solid $border-gray;
      //  padding-bottom: 1em;
      //  font-size: 1em;
      //}
      .buttons {
        .btn {
          margin-bottom: 1em;
          width: 100%;
        }
      }
    }
    @media (max-width: $screen-md) {
      flex-wrap: wrap;
      .col {
        flex: 0 0 100%;
        padding-bottom: 1em;
        .buttons {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          .btn {
            width: 280px;
            flex: 0 0 auto;
          }
        }
      }
    }
  }
}


//
// Footer
// --------------------------------------------------

.footer{
	background-color: #242B31;
	position: relative;
	@include rem(padding, 70px 20px 30px);
}

.footer-logo__wrapper{
	@include rem(height, 90px);
	@include rem(margin-left, -43px);
	@include rem(top, -30px);
	@include rem(width, 90px);
	background-color: #242B31;
	left: 50%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.footer-logo{
	@include rem(height, 25px);
	@include rem(width, 28px);
}

.footer-partners{
	@include outer-container(800px);
	@include media(min-width $screen-md) {
		@include rem(padding-bottom, 40px);
		display: flex;
		align-items: center;
	}
}

.footer-partners img{
	@include media(max-width $screen-md) {
		@include rem(padding-bottom, 30px);
	}
}

.footer-links{
	@include rem(margin-bottom, 20px);
}

.footer-link{
	text-transform: uppercase;
	font-family: $headings-font-family;
	@include rem(font-size, 24px);
	@include media(min-width $screen-md) {
		display: inline-block;
		@include rem(padding, 0px 20px);
	}
	@include media(max-width $screen-md) {
		display: block;
		@include rem(padding, 5px 0px);
	}
}

p.copyright{
	@include rem(font-size, 14px);
}
