body {
//  background: $faint-gray;
  background: white;
}

.centered-container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
}

.title-bar {
  display: block;
  background: $brand-blue;
  color: #FFF;
  padding: .25em .5em;
  text-transform: uppercase;
  text-align: center;
  @include rem('font-size',40px);
}

.flex-columns {
  display: flex;
  .column {
    flex: 1;
  }
}

header.panel {
  display: flex;
  padding: 4%;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media (min-width: $screen-lg) {
    @include rem('font-size',48px);
  }
  @media (min-width: $screen-xl) {
    @include rem('font-size',62px);
  }
  background-position: 50%;
  background-size: cover;
  height: 569px;
  * {
    color: white;
  }
}
